In [1]:
import os
import sys

In [2]:
import pandas as pd
import numpy as np

In [13]:
#import os

#build_project_path = os.environ.get(
#    "BUILD_PROJECT_PATH",
#    r"C:\Users\L110006\OneDrive - Eli Lilly and Company\personal files\build project\fine-tuning-build-project"
#)
#
#streamlit_data_path = os.path.join(build_project_path, "streamlit_app", "data")
#csv_file = os.path.join(streamlit_data_path, 'job_postings.parquet')
#
## Try reading with a different encoding
#job_postings_df = pd.read_csv(csv_file, encoding='latin1')  # or 'ISO-8859-1'



import os
import pandas as pd

build_project_path = r"C:\Users\L110006\OneDrive - Eli Lilly and Company\personal files\build project\fine-tuning-build-project"
streamlit_data_path = os.path.join(build_project_path, "streamlit_app", "data")
parquet_file = os.path.join(streamlit_data_path, 'job_postings.parquet')

# Read the Parquet file
job_postings_df = pd.read_parquet(parquet_file, engine="pyarrow")  # or engine="fastparquet"

# Check the dataframe
job_postings_df.head()

,job_posting_title,company,onet_code,onet_name,date_posted,url
0,Logistics Analyst I,Meijer,13-1081.02,Logistics Analysts,2025-01-27,https://dejobs.org/grand-rapids-mi/logistics-a...
1,Physical Therapy Aide,Bainbridge Island Physical Therapy,31-2022.00,Physical Therapist Aides,2025-02-01,https://www.indeed.com/m/viewjob?jk=b7ad5cc88d...
2,AV Technician- Up to 24 hours/wk.,Yoh Services,27-4011.00,Audio and Video Technicians,2025-01-29,https://illinoisjoblink.illinois.gov/jobs/1248...
3,Private Client Advisor,Marsh McLennan,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",2025-01-31,https://www.indeed.com/m/viewjob?jk=c4c72bd983...
4,Windows AD/Azure AD Identity Administrator - H...,MSYS,15-1244.00,Network and Computer Systems Administrators,2025-01-29,https://dejobs.org/concord-nh/windows-adazure-...

In [4]:
#build_project_path = os.environ['BUILD_PROJECT_PATH']
#streamlit_data_path = os.path.join(build_project_path, 'streamlit_app', 'data')

In [17]:
print(job_postings_df.columns)

Index(['job_posting_title', 'company', 'onet_code', 'onet_name', 'date_posted',
       'url'],
      dtype='object')

In [19]:
# Check column names
print(job_postings_df.columns)

Index(['job_posting_title', 'company', 'onet_code', 'onet_name', 'date_posted',
       'url'],
      dtype='object')

In [20]:
import os
import pandas as pd
import numpy as np
import ast

# Paths
build_project_path = os.environ.get(
    "BUILD_PROJECT_PATH",
    r"C:\Users\L110006\OneDrive - Eli Lilly and Company\personal files\build project\fine-tuning-build-project"
)
streamlit_data_path = os.path.join(build_project_path, "streamlit_app", "data")
parquet_file = os.path.join(streamlit_data_path, 'job_postings.parquet')

# Read the Parquet file
job_postings_df = pd.read_parquet(parquet_file, engine="pyarrow")

# --- Extract first URL from stringified list ---
def extract_first_url(url_str):
    try:
        url_list = ast.literal_eval(url_str)
        return url_list[0] if url_list else None
    except:
        return None

job_postings_df['url'] = job_postings_df['url'].apply(extract_first_url)

# --- Convert posted date to datetime ---
job_postings_df['date_posted'] = pd.to_datetime(job_postings_df['date_posted'], errors='coerce')

# --- Rename columns ---
job_postings_df.rename({
    'COMPANY_NAME': 'company',
    'TITLE_RAW': 'job_posting_title',
    'ONET_2019': 'onet_code',
    'ONET_2019_NAME': 'onet_name'
}, axis=1, inplace=True)

# --- Optional: sample fraction ---
job_postings_df = job_postings_df.sample(frac=(1/6), random_state=42).reset_index(drop=True)

# Check the DataFrame
job_postings_df.head()

<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal

,job_posting_title,company,onet_code,onet_name,date_posted,url
0,PT Center Store (Grocery) Associate - Food Lion,Food Lion,41-2031.00,Retail Salespersons,2025-01-31,None
1,Serbo-Croatian (Bosnian) Language Instructor -...,Ica Language Services,25-2031.00,"Secondary School Teachers, Except Special and ...",2025-01-27,None
2,Associate Veterinarian,GPAC,29-1131.00,Veterinarians,2025-01-26,None
3,Store Manager,Harbor Freight Tools,41-1011.00,First-Line Supervisors of Retail Sales Workers,2025-01-29,None
4,Medical Writer,Grifols,27-3042.00,Technical Writers,2025-01-29,None

In [22]:
# Example after checking column names
url_column = "URL"  # replace with actual name from print
date_column = "POSTED"  # replace with actual name from print

def extract_first_url(url_str):
    try:
        url_list = ast.literal_eval(url_str)
        return url_list[0] if url_list else None
    except:
        return None

if url_column in job_postings_df.columns:
    job_postings_df['url'] = job_postings_df[url_column].apply(extract_first_url)
else:
    job_postings_df['url'] = None

if date_column in job_postings_df.columns:
    job_postings_df['date_posted'] = pd.to_datetime(job_postings_df[date_column], errors='coerce')
else:
    job_postings_df['date_posted'] = None

In [25]:
#job_postings_df = pd.read_csv(os.path.join(streamlit_data_path, 'job_postings.csv'))
#job_postings_df = pd.read_csv(os.path.join(streamlit_data_path, 'job_postings.parquet'))
job_postings_df = pd.read_parquet(os.path.join(streamlit_data_path, 'job_postings.parquet'))

# Read the Parquet file
job_postings_df = pd.read_parquet(parquet_file, engine="pyarrow")

# --- Extract first URL from stringified list ---
def extract_first_url(url_str):
    try:
        url_list = ast.literal_eval(url_str)
        return url_list[0] if url_list else None
    except:
        return None

In [29]:
import ast

def extract_first_url(url_str):
    try:
        url_list = ast.literal_eval(url_str)
        return url_list[0] if url_list else None
    except:
        return None

# Assuming your DataFrame is named df
job_postings_df['URL'] = job_postings_df['url'].apply(extract_first_url)

In [31]:
job_postings_df['POSTED'] = pd.to_datetime(job_postings_df['date_posted'], errors='coerce')

In [32]:
job_postings_df.rename({
    'COMPANY_NAME': 'company',
    'TITLE_RAW': 'job_posting_title',
    'ONET_2019': 'onet_code',
    'ONET_2019_NAME': 'onet_name',
    'POSTED': 'date_posted',
    'URL': 'url'
}, inplace=True, axis=1)

In [33]:
job_postings_df

,job_posting_title,company,onet_code,onet_name,date_posted,url,url,date_posted
0,Logistics Analyst I,Meijer,13-1081.02,Logistics Analysts,2025-01-27,None,None,2025-01-27
1,Physical Therapy Aide,Bainbridge Island Physical Therapy,31-2022.00,Physical Therapist Aides,2025-02-01,None,None,2025-02-01
2,AV Technician- Up to 24 hours/wk.,Yoh Services,27-4011.00,Audio and Video Technicians,2025-01-29,None,None,2025-01-29
3,Private Client Advisor,Marsh McLennan,41-4012.00,"Sales Representatives, Wholesale and Manufactu...",2025-01-31,None,None,2025-01-31
4,Windows AD/Azure AD Identity Administrator - H...,MSYS,15-1244.00,Network and Computer Systems Administrators,2025-01-29,None,None,2025-01-29
...,...,...,...,...,...,...,...,...
111994,Director of Public Safety,Mayor And City Council Of Baltimore,11-1011.00,Chief Executives,2025-01-28,None,None,2025-01-28
111995,General Dentist - Avon Dental Group,Affinity Dental Management,29-1021.00,"Dentists, General",2025-02-01,None,None,2025-02-01
111996,Hospital | Ultrasound Tech - NJ,General Healthcare Resources,29-2032.00,Diagnostic Medical Sonographers,2025-01-26,None,None,2025-01-26
111997,Registered Nurse (RN) - Emergency Dept - Putna...,Mercy Health,29-1141.00,Registered Nurses,2025-01-27,None,None,2025-01-27
111998,Verizon Sales Associate,Unclassified,41-2031.00,Retail Salespersons,2025-01-27,None,None,2025-01-27

In [34]:
job_postings_df = job_postings_df.sample(frac=(1/6)).reset_index(drop=True)
job_postings_df

,job_posting_title,company,onet_code,onet_name,date_posted,url,url,date_posted
0,Data Engineer,Kforce,15-1242.00,Database Administrators,2025-01-30,None,None,2025-01-30
1,Commercial Sales Manager,AutoZone,11-2022.00,Sales Managers,2025-01-31,None,None,2025-01-31
2,"Consulting Sales Engineer, Remote US",Carrier Corporation,41-9031.00,Sales Engineers,2025-01-30,None,None,2025-01-30
3,Caregiver,Sunrise Senior Living,31-1122.00,Personal Care Aides,2025-01-29,None,None,2025-01-29
4,CNC Machinist - Paying $25-$30/hr,Aerotek,51-4041.00,Machinists,2025-01-26,None,None,2025-01-26
...,...,...,...,...,...,...,...,...
18661,Outreach Curriculum Coordinator,Texas A&M University-San Antonio,25-9031.00,Instructional Coordinators,2025-01-28,None,None,2025-01-28
18662,CERTIFIED NURSING ASSISTANT - NH - ASPIRUS CAR...,Aspirus,31-1131.00,Nursing Assistants,2025-01-26,None,None,2025-01-26
18663,Tool Control Attendant C,Textron,11-3013.00,Facilities Managers,2025-01-30,None,None,2025-01-30
18664,Nearshore React Frontend Developer,Insight Global,15-1254.00,Web Developers,2025-01-29,None,None,2025-01-29
18665,Dental Assistant,Unclassified,31-9091.00,Dental Assistants,2025-01-30,None,None,2025-01-30

In [40]:
# Remove duplicate columns by keeping the first occurrence
job_postings_df = job_postings_df.loc[:, ~job_postings_df.columns.duplicated()]

# Now save to parquet
job_postings_df.to_parquet(
    os.path.join(streamlit_data_path, 'job_postings.parquet'),
    engine="pyarrow",
    compression="snappy"
)

In [41]:
job_postings_df.to_parquet(os.path.join(streamlit_data_path, 'job_postings.parquet'), engine="pyarrow", compression="snappy")